@import 'Config';

.container {
    max-width: $max-width;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

//Background
.bg {
    &-primary {
        @include set-background($primary-color);
    }
    &-light {
        @include set-background($light-color);
        border: #ccc 1px solid;
    }
    &-dark {
        @include set-background($dark-color);
    }
    &-success {
        @include set-background($success-color);
    }
    &-danger {
        @include set-background($danger-color);
    }
    &-white {
        @include set-background(#fff);
        border: #ccc 1px solid;
    }
}

//Buttons
.btn {
    display: inline-block;
    background: var(--light-color);
    color: #333;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;

    &.btn-primary {
        @include set-background($primary-color);
        &:hover {
            background: lighten($color: $primary-color, $amount: 5%);
        }
    }

    &.btn-light {
        @include set-background($light-color);
    }

    &.btn-dark {
        @include set-background($dark-color);
        &:hover {
            background: lighten($color: $dark-color, $amount: 5%);
        }
    }

    &.btn-success {
        @include set-background($success-color);
        &:hover {
            background: lighten($color: $success-color, $amount: 5%);
        }
    }

    &.btn-danger {
        @include set-background($danger-color);
        &:hover {
            background: lighten($color: $danger-color, $amount: 5%);
        }
    }

    &.btn-white {
        @include set-background(#fff);
        &:hover {
            background: lighten($color: #fff, $amount: 5%);
        }
    }
    &:hover {
        background: lighten($color: $dark-color, $amount: 5%);
        color: #fff;
    }
}

// Alerts
.alert {
    padding: 0.8rem;
    margin: 1rem;
    opacity: 0.9;
    background: $light-color;
    color: #333;
  
    &.alert-primary {
      @include set-background($primary-color);
    }
    &.alert-dark {
      @include set-background($dark-color);
    }
    &.alert-success {
      @include set-background($success-color);
    }
    &.alert-danger {
      @include set-background($danger-color);
    }
  }

  // Badges
.badge {
    font-size: 0.8rem;
    padding: 0.1rem;
    text-align: center;
    margin: 0.3rem;
    background: $light-color;
    color: #333;
  
    &.badge-primary {
      @include set-background($primary-color);
    }
    &.badge-dark {
      @include set-background($dark-color);
    }
    &.badge-success {
      @include set-background($success-color);
    }
    &.badge-danger {
      @include set-background($danger-color);
    }
}
  
.dark-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.table {
    th,
    td {
        padding: 1rem;
        text-align: left;
    }

    th {
        background: $light-color;
    }
}