.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px #17a2b8;
  opacity: 0.9; }
  .navbar ul {
    display: flex; }
  .navbar a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem; }
    .navbar a:hover {
      color: #17a2b8; }
