.loader-container {
    border-radius: 5px;
    width: 400px;
    height: 400px;
    margin: 100px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: block;
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 7px solid transparent;
    border-top-color: crimson;
    animation: spin 2s linear infinite;
}

.loader::before, .loader::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 7px solid transparent;
}

.loader::before {
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-top-color: rgb(252, 45, 86);
    animation: spin 3s linear infinite;
}

.loader::after {
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    border-top-color: rgb(192, 108, 125);
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}